mixin radio(options, ...items)
    -let _name = options.name
    .radio
        each item in items
            -let _checked = options.checked == item.valueVar
            label.radio__item
                input.radio__input(type="radio", name = _name, checked = _checked, value = item.valueVar)
                span.radio__tick
                = item.valueName
