mixin feedback(options)
    -let ava = options.ava || 'murad'
    -let time = options.time || "только что"
    -let name = options.name || "Гость Гость"
    -let likes = options.likes || 0
    -let feed = options.feed || "Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, iure! Quis molestiae, error architecto expedita deserunt fugiat. Labore, perspiciatis amet optio dolore perferendis in vero praesentium sint magni. Esse nesciunt minima perspiciatis eaque necessitatibus? Sapiente illum nihil amet doloribus reprehenderit!"

    .feedback
        .feedback__avatar
            img(src = require(`Images/avatars/${ava}.jpg`).default).feedback__image
        .feedback__likes
            +like(likes)
        .feedback__time= time
        .feedback__name= name
        .feedback__feed= feed