@import '~Common/basics';
.feedback {
    display: grid;
    font-family: Montserrat;
    grid-template: 2rem 1.4rem 2rem 1fr / 4rem 1fr;
    grid-template-areas: 'ava  name'
                         'ava   time'
                         'likes feed'
                         'likes feed';
    &__avatar {
        grid-area: ava;
    }    
    &__image {
        object-fit: cover;
        border-radius: 50%;
        width: 3.14rem;
        height: 3.14rem;
    }             
    &__likes {
        grid-area: likes;
        padding-left: 0.15rem;
        user-select: none;
    }    
    &__time {
        grid-area: time;
    }
    &__feed {
        grid-area: feed;
        padding-top: 0.8rem;
        line-height: 1.65;
    }
    &__name {
        grid-area: name;
        padding-top: 0.4rem;
        font-weight: bold;
    }
}