$_red: red($purple);
$_green: green($purple);
$_blue: blue($purple);
.button {
    padding: 0.8rem 1.3rem;
    align-self: center;
    cursor: pointer;
    @extend %font_small; 
    border-radius: 3em;
    &_color_purple {
        @extend %purple;
        &:hover, &.button_theme_transparent {
            opacity: 50%;
        }
        &:active {
            outline: none;
            color: rgba($_red, $_green, $_blue, 0.4);
        }
    }
    &_active {
        width: 100%;
        position: relative;
        &:after {
            direction: ltr;
            display: inline-block;
            font-family: 'Material Icons';
            font-size: 24px;
            font-style: normal;
            font-weight: normal;
            letter-spacing: normal;
            line-height: 1;
            text-transform: none;
            white-space: nowrap;
            word-wrap: normal;
            font-feature-settings: 'liga';
            -webkit-font-feature-settings: 'liga';
            -webkit-font-smoothing: antialiased;
            content: "arrow_forward";  
            position: absolute;
            top: 0.7rem;
            right: 0.6rem;
        }
    }
    &_disabled {
        pointer-events: none;
    }
    &_transparent, &:disabled {
        opacity: 0.6;
    }
    &_color_white {
        @extend %white;
        &:before {
            @extend %white_before;
        }
        &:hover, &.button_theme_transparent {
            outline: none;
            color: rgba($_red, $_green, $_blue, 0.4);
        }
        &:active {
            color: white;
        }
    }
    &_color_white &_transparent {
        outline: none;
        color: rgba($_red, $_green, $_blue, 0.4);
    }
    &_theme_simple {
        padding: 0;
        background: none;
        &:hover {
            opacity: 50%;
        }
        &.button_color_ {
            &purple {
                color: $purple;
                background-image: none;              
                &:active {
                    color: $darkShade_50;
                    opacity: 50%;
                }
            }
            &darkShade {
                color: $darkShade_50;
                &:active {
                    color: $purple;
                    opacity: 50%;
                }
            }
        }
        color: $purple;
    }
    &:focus {
        outline: none;
    }
    &_clicking:before, &:active:before, &:hover:before, &.button_theme_transparent:before {
        @extend %white_before;
        z-index: -1;
        opacity: 0.5;
    }
    &_theme_simple:hover, &_theme_simple.button_hovered {
        color: rgba(31, 32, 65, 0.5) !important;
    }
    &_theme_simple:hover:before, &_theme_simple.button_hovered:before {
        display: none;
    }
    &_size_slim {
        padding: 0.35rem 1.15rem;
    }
}

%rounded-border {
    border: 1px solid transparent;
    border-radius: 2.5rem;
}
%white_before {
    content: "";
    background-color: transparent;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    position: absolute;
    top: -2px;
    left: -2px;
    right: -2px;
    bottom: -2px;
    z-index: -1;
    @extend %rounded-border;
}
%purple {
    background-color: transparent;
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);     
    color: white;
}
%white {
    color: $purple;
    background-image: none;
    background-color: white;
    position: relative;
}