mixin button(options)
    -let text = options.text||"click me"
    -let color = options.color? " button_color_" + options.color: "button_color_purple"
    -let theme = options.theme? " button_theme_" + options.theme : ""
    -let size = options.size? " button_size_" + options.size : ""
    -let type = options.type? " button_" + options.type : ""
    -let _class = color + theme + size + type
    button.button(class = _class)= text
