include ../includeAll
doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1.0' name='viewport')

    body
        +header(false,
    {value: "Home", current: true}, 
    {value: "About us"}, 
    {value: "Services", expandable: true}, 
    {value: "Careers"}, 
    {value: "News"}, 
    {value: "Documentation"})
        +main("Все привет зовусь я цветик от меня вам всем приветик!!!")
        +footer()
