/* ------------------------------------------open-sans-regular - cyrillic_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-regular.woff2) format('woff2'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-regular.woff) format('woff'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-regular.ttf) format('truetype'), 
    url("[object Module]#OpenSans") format('svg'); /* Legacy iOS */
}
/* -----------------------------------------------------------open-sans-italic - cyrillic_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Open Sans Italic'), local('OpenSans-Italic'),
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-italic.woff2) format('woff2'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-italic.woff) format('woff'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-italic.ttf) format('truetype'), 
    url("[object Module]#OpenSans") format('svg'); /* Legacy iOS */
}
/*------------------------------------------------------------------- open-sans-600 - cyrillic_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-600.woff2) format('woff2'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-600.woff) format('woff'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-600.ttf) format('truetype'), 
    url("[object Module]#OpenSans") format('svg'); /* Legacy iOS */
}
/* -------------------------------------------------------open-sans-600italic - cyrillic_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 600;
    src: local('Open Sans SemiBold Italic'), local('OpenSans-SemiBoldItalic'),
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-600italic.woff2) format('woff2'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-600italic.woff) format('woff'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-600italic.ttf) format('truetype'), 
    url("[object Module]#OpenSans") format('svg'); /* Legacy iOS */
}
/* -------------------------------------------------------------------open-sans-700 - cyrillic_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Bold'), local('OpenSans-Bold'),
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-700.woff2) format('woff2'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-700.woff) format('woff'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-700.ttf) format('truetype'), 
    url("[object Module]#OpenSans") format('svg'); /* Legacy iOS */
}
/* ---------------------------------------open-sans-700italic - cyrillic_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'),
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-700italic.woff2) format('woff2'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-700italic.woff) format('woff'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-700italic.ttf) format('truetype'), 
    url("[object Module]#OpenSans") format('svg'); /* Legacy iOS */
}
/* --------------------------------------open-sans-800 - cyrillic_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-800.woff2) format('woff2'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-800.woff) format('woff'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-800.ttf) format('truetype'), 
    url("[object Module]#OpenSans") format('svg'); /* Legacy iOS */
}
/* -------------------------------------------------open-sans-800italic - cyrillic_latin */
@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 800;
    src: local('Open Sans ExtraBold Italic'), local('OpenSans-ExtraBoldItalic'),
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-800italic.woff2) format('woff2'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-800italic.woff) format('woff'), 
    url(https://ase444ka.github.io/Education/fonts/open-sans-v17-cyrillic_latin-800italic.ttf) format('truetype'), 
    url("[object Module]#OpenSans") format('svg'); /* Legacy iOS */
}

/*------------------------------------------------------- montserrat-regular - cyrillic_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url(https://ase444ka.github.io/Education/fonts/montserrat-v14-cyrillic_latin-regular.eot); /* IE9 Compat Modes */
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
    url("[object Module]?#iefix") format('embedded-opentype'), 
    url(https://ase444ka.github.io/Education/fonts/montserrat-v14-cyrillic_latin-regular.woff2) format('woff2'), 
    url(https://ase444ka.github.io/Education/fonts/montserrat-v14-cyrillic_latin-regular.woff) format('woff'), 
    url(https://ase444ka.github.io/Education/fonts/montserrat-v14-cyrillic_latin-regular.ttf) format('truetype'), 
    url("[object Module]#Montserrat") format('svg'); /* Legacy iOS */
}
/* -------------------------------------------montserrat-800 - cyrillic_latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: url(https://ase444ka.github.io/Education/fonts/montserrat-v14-cyrillic_latin-800.eot); /* IE9 Compat Modes */
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
    url("[object Module]?#iefix") format('embedded-opentype'), 
    url(https://ase444ka.github.io/Education/fonts/montserrat-v14-cyrillic_latin-800.woff2) format('woff2'), 
    url(https://ase444ka.github.io/Education/fonts/montserrat-v14-cyrillic_latin-800.woff) format('woff'), 
    url(https://ase444ka.github.io/Education/fonts/montserrat-v14-cyrillic_latin-800.ttf) format('truetype'), 
    url("[object Module]#Montserrat") format('svg'); /* Legacy iOS */
}
/*-------------------------Material Icons*/
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://ase444ka.github.io/Education/fonts/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(https://ase444ka.github.io/Education/fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://ase444ka.github.io/Education/fonts/MaterialIcons-Regular.woff) format('woff'),
    url(https://ase444ka.github.io/Education/fonts/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;

    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;

    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;

    /* Support for IE. */
    font-feature-settings: 'liga';
}
@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain) */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

button {
  background: none; }

.label {
  color: rgba(31, 32, 65, 0.25);
  opacity: 0.25;
  justify-self: end;
  padding-right: 1.8rem;
  font-weight: normal; }

html {
  font-family: 'Open Sans';
  font-size: 14px;
  line-height: 1.7;
  color: #1F2041; }

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.3;
  letter-spacing: 0.001em; }

h2, .input__option-iteration {
  font-weight: bold;
  font-size: 1.2rem;
  line-height: 1.3;
  letter-spacing: 0.001em; }

h3, .field__annotation, .field__name, .input__item, .input__option-quantity, .input__button, .button button {
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.8;
  letter-spacing: 0.001em;
  /*0.73*/
  font-family: Montserrat;
  text-transform: uppercase; }

body {
  margin-left: 11.01322%;
  margin-top: 10.279%;
  margin-right: 14.02349%; }

#colorsAndType {
  display: flex;
  justify-content: space-between; }

#logo {
  position: fixed;
  left: 35px;
  top: 27px;
  background: url(https://ase444ka.github.io/Education/icons/logo-img.svg) no-repeat;
  width: 48px;
  height: 48px; }

.colors {
  display: flex;
  flex-direction: column;
  align-items: center; }

.color__sample--darkShade-5 {
  background-color: #1F2041;
  opacity: 0.05; }

.color__sample--darkShade-25 {
  background-color: #1F2041;
  opacity: 0.25; }

.color__sample--darkShade-50 {
  background-color: #1F2041;
  opacity: 0.5; }

.color__sample--darkShade-75 {
  background-color: #1F2041;
  opacity: 0.75; }

.color__sample--darkShade-100 {
  background-color: #1F2041;
  opacity: 1; }

.color__sample--purple {
  background-color: #BC9CFF; }

.color__sample--green {
  background-color: #6FCF97; }

.color {
  width: 270px;
  padding-bottom: 18px; }

.color__sample {
  width: 70px;
  height: 70px;
  border-radius: 7px;
  display: inline-block; }

.color__description {
  display: inline-block;
  padding-left: 36px;
  padding-top: 8px;
  vertical-align: top;
  font-size: 18px; }

.color__colorName {
  font-weight: bold;
  padding-top: 5px; }

.color__colorCode {
  padding-top: 10px; }

.headersFooters {
  display: grid;
  grid-template-rows: 110px 93px 70px 70px;
  grid-template-columns: 67px 336px; }

.label {
  color: #1F2041;
  justify-self: end;
  padding-right: 1.8rem;
  font-weight: normal; }

.extra_h3 {
  color: rgba(31, 32, 65, 0.5);
  font-weight: normal; }

p {
  font-family: Montserrat; }

#forms {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 1fr 1fr 1fr; }
  #forms > div {
    margin: 5px; }

.form__buttons {
  display: grid;
  grid-template-columns: 37.5% 62.5%; }

.form__buttons div:last-child {
  grid-column: span 2;
  justify-self: stretch; }

.span2 {
  grid-column: span 2; }

@media only screen and (max-width: 830px) {
  #forms {
    grid-template-columns: 1fr 1fr; } }

@media only screen and (max-width: 675px) {
  #forms {
    grid-template-columns: 1fr; }
  .span2 {
    grid-column: span 1; } }

.field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.field__content {
  flex-grow: 1;
  width: 100%; }

.field__annotation {
  font-weight: normal;
  color: rgba(31, 32, 65, 0.5); }

.field__name {
  color: rgba(31, 32, 65, 0.75); }

.field_shorted {
  width: 76%; }

.field {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.field__content {
  flex-grow: 1;
  width: 100%; }

.field__annotation {
  font-weight: normal;
  color: rgba(31, 32, 65, 0.5); }

.field__name {
  color: rgba(31, 32, 65, 0.75); }

.field_shorted {
  width: 76%; }

.input {
  cursor: text;
  width: 100%;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  outline: none;
  position: relative; }
  .input i {
    position: absolute;
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
    pointer-events: all;
    top: 0.5rem;
    right: 0.7rem;
    font-size: 2.1rem; }
  .input input {
    border: none;
    outline: none;
    width: 100%; }

.input_type_select {
  cursor: default; }

.input_expanded {
  border-width: 2px !important; }
  .input_expanded .input__customization {
    max-height: 800px; }

.input:hover, .input:focus, .input_hovered {
  border-width: 2px;
  border-color: rgba(31, 32, 65, 0.5); }
  .input:hover input::placeholder, .input:hover .input__placeholder, .input:focus input::placeholder, .input:focus .input__placeholder, .input_hovered input::placeholder, .input_hovered .input__placeholder {
    color: rgba(31, 32, 65, 0.5); }

input::placeholder, .input__placeholder {
  color: rgba(31, 32, 65, 0.25); }

.input__placeholder {
  padding: 1rem; }

.input__customization {
  max-height: 0;
  overflow: hidden;
  transition: max-height 100ms ease-in;
  -webkit-transition: max-height 100ms ease-in; }

.input__options {
  border-top: 2px solid rgba(31, 32, 65, 0.25);
  padding-bottom: 0.25rem; }

.input__item {
  height: 2.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.04rem 0.4rem 0.04rem 1rem; }

.input__option {
  justify-self: flex-start;
  color: #1F2041; }

.input__option-setter {
  display: flex;
  align-items: center; }

.input__option-iteration {
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  padding: 5px;
  width: 2.1rem;
  height: 2.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(31, 32, 65, 0.25);
  font-weight: normal;
  cursor: pointer; }

.input__option-iteration_disabled {
  border-color: rgba(31, 32, 65, 0.05);
  cursor: default; }

.input__option-quantity {
  color: #1F2041;
  padding: 0.85rem; }

.input__buttons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between; }

.input__button {
  padding: 0.8rem 0.5rem 0.5rem;
  cursor: pointer;
  outline: none; }

.input__button_target_apply {
  color: #BC9CFF; }

.input__button_target_clear {
  color: rgba(31, 32, 65, 0.5); }

.fieldset {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  grid-gap: 1rem; }

/**
Ion.RangeSlider, 2.3.1
© Denis Ineshin, 2010 - 2019, IonDen.com
Build date: 2019-12-19 16:51:02
*/
.irs {
  position: relative;
  display: block;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.irs-line {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none !important; }

.irs-bar {
  position: absolute;
  display: block;
  left: 0;
  width: 0; }

.irs-shadow {
  position: absolute;
  display: none;
  left: 0;
  width: 0; }

.irs-handle {
  position: absolute;
  display: block;
  box-sizing: border-box;
  cursor: pointer;
  z-index: 1; }

.irs-handle.type_last {
  z-index: 2; }

.irs-min,
.irs-max {
  position: absolute;
  display: block;
  cursor: default; }

.irs-min {
  left: 0; }

.irs-max {
  right: 0; }

.irs-from,
.irs-to,
.irs-single {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  cursor: default;
  white-space: nowrap; }

.irs-grid {
  position: absolute;
  display: none;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px; }

.irs-with-grid .irs-grid {
  display: block; }

.irs-disable-mask {
  position: absolute;
  display: block;
  top: 0;
  left: -1%;
  width: 102%;
  height: 100%;
  cursor: default;
  background: rgba(0, 0, 0, 0);
  z-index: 2; }

.lt-ie9 .irs-disable-mask {
  background: #000;
  filter: alpha(opacity=0);
  cursor: not-allowed; }

.irs-disabled {
  opacity: 0.4; }

.irs-hidden-input {
  position: absolute !important;
  display: block !important;
  top: 0 !important;
  left: 0 !important;
  width: 0 !important;
  height: 0 !important;
  font-size: 0 !important;
  line-height: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  overflow: hidden;
  outline: none !important;
  z-index: -9999 !important;
  background: none !important;
  border-style: solid !important;
  border-color: transparent !important; }

.irs--custom {
  height: 50px; }

.irs--custom.irs-with-grid {
  height: 65px; }

.irs--custom .irs-line {
  top: 18px;
  height: 8px;
  background-color: white;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px; }

.irs--custom .irs-bar {
  top: 19px;
  height: 6px;
  background-color: #006cfa;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); }

.irs--custom .irs-bar--single {
  border-radius: 4px 0 0 4px; }

.irs--custom .irs-shadow {
  display: none;
  height: 4px;
  bottom: 21px;
  background-color: rgba(222, 228, 236, 0.5); }

.irs--custom .irs-handle {
  top: 14px;
  width: 16px;
  height: 16px;
  border: 2px solid white;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border-radius: 50%; }

.irs--custom .irs-handle.state_hover,
.irs--custom .irs-handle:hover {
  background-color: #f0f6ff; }

.irs--custom .irs-min,
.irs--custom .irs-max {
  color: #333;
  font-size: 14px;
  line-height: 1;
  top: 0;
  padding: 3px 5px;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px; }

.irs--custom .irs-from,
.irs--custom .irs-to {
  opacity: 0; }

.irs--custom .irs-from,
.irs--custom .irs-to,
.irs--custom .irs-single {
  font-size: 14px;
  line-height: 1;
  text-shadow: none;
  padding: 3px 5px;
  background-color: #006cfa;
  color: white;
  border-radius: 4px; }

.irs--custom .irs-from:before,
.irs--custom .irs-to:before,
.irs--custom .irs-single:before {
  position: absolute;
  display: block;
  content: "";
  bottom: -6px;
  left: 50%;
  width: 0;
  height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #006cfa; }

.irs--custom .irs-grid {
  height: 25px; }

.irs--custom .irs-grid-pol {
  background-color: #dedede; }

.irs--custom .irs-grid-text {
  color: silver;
  font-size: 13px; }

.checkbox {
  width: 75%; }
  .checkbox__label {
    color: rgba(31, 32, 65, 0.75);
    display: block;
    font-size: 1rem;
    padding-left: 30px;
    padding-top: 1.1rem;
    padding-bottom: 1px;
    cursor: pointer;
    font-family: Montserrat; }
  .checkbox__input {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }
  .checkbox__input:checked + .checkbox__tick {
    border-color: #BC9CFF; }
  .checkbox__input:checked + .checkbox__tick::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    width: 6px;
    height: 8px;
    border-width: 0 2px 2px 0;
    -moz-border-image: linear-gradient(180deg, #BC9CFF 0%, #6FCF97 100%);
    -webkit-border-image: linear-gradient(180deg, #BC9CFF 0%, #6FCF97 100%);
    border-image: linear-gradient(180deg, #BC9CFF 0%, #6FCF97 100%);
    border-color: transparent;
    border-image-slice: 1;
    border-style: solid;
    border-radius: 0;
    transform: rotate(45deg);
    box-sizing: border-box; }
  .checkbox__tick {
    position: absolute;
    width: 20px;
    height: 20px;
    box-sizing: border-box;
    border: 1px solid rgba(31, 32, 65, 0.25);
    border-radius: 4px;
    background-color: white;
    margin-left: -30px;
    margin-top: -3px; }
  .checkbox_rich label {
    font-weight: bold; }
    .checkbox_rich label .checkbox__description {
      font-weight: normal;
      padding-top: 0.4rem;
      font-size: 0.9rem; }

.expandable {
  position: relative; }
  .expandable__content {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    transition: max-height 100ms ease-in;
    -webkit-transition: max-height 100ms ease-in; }
  .expandable i {
    position: absolute;
    top: -1.8rem;
    right: 21.5%;
    font-family: 'Material Icons';
    color: rgba(31, 32, 65, 0.5);
    cursor: pointer;
    font-size: 1.8rem; }
  .expandable_expanded .expandable__content {
    max-height: 800px;
    visibility: visible; }

.radio {
  display: flex;
  justify-content: space-between;
  width: 75%; }

.radio__item {
  display: block;
  font-size: 1rem;
  padding-left: 30px;
  padding-top: 1.1rem;
  padding-bottom: 1px;
  cursor: pointer;
  font-family: Montserrat; }

.radio__input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.radio__input:checked + .radio__tick {
  border-color: #BC9CFF; }

.radio__input:checked + .radio__tick::before {
  content: "";
  width: 1rem;
  height: 1rem;
  border-width: 2px;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #6FCF97 100%);
  border: 1px solid transparent;
  border-radius: 50%;
  box-sizing: border-box; }

.radio__tick {
  position: absolute;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
  background-color: white;
  margin-left: -30px;
  margin-top: -3px; }

.toggle {
  position: relative;
  display: block;
  padding: 1rem 3.5rem 0.3rem; }

.toggle__input {
  opacity: 0;
  width: 0;
  height: 0; }

.toggle__slider {
  position: absolute;
  height: 1.38rem;
  width: 2.9rem;
  border: 1px solid rgba(31, 32, 65, 0.5);
  top: 0.8rem;
  left: 0;
  bottom: 0;
  cursor: pointer;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  opacity: 0.5; }

.toggle__slider:before {
  position: absolute;
  content: "";
  height: 0.9rem;
  width: 0.9rem;
  left: 2px;
  top: 0.2rem;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #6FCF97 100%);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%; }

.toggle__input:checked + .toggle__slider {
  opacity: 1; }

.toggle__input:focus + .toggle__slider {
  box-shadow: 0 0 1px rgba(31, 32, 65, 0.25); }

.toggle__input:checked + .toggle__slider:before {
  -webkit-transform: translateX(1.5rem);
  -ms-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
  opacity: 1; }

.like {
  padding-top: 0.9rem;
  display: inline-block;
  padding-right: 0.5rem;
  background-color: white; }

.like__base {
  position: relative;
  display: block;
  height: 1.53rem;
  width: 3.05rem;
  font-size: 0.7rem;
  border: 1px solid transparent;
  overflow: hidden;
  background: rgba(31, 32, 65, 0.25);
  border-radius: 34px; }

.like__base_checked {
  background-color: transparent;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #6FCF97 100%); }

.like__base:before {
  position: absolute;
  display: block;
  content: "";
  height: 1.38rem;
  width: 2.9rem;
  border: 1px solid transparent;
  overflow: hidden;
  background: white;
  border-radius: 34px; }

.like__button {
  position: relative;
  display: block;
  padding: 0.3rem 0 0 1.6rem;
  height: 1.38rem;
  width: 2.9rem;
  font-size: 0.7rem;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 34px;
  background-color: white;
  opacity: 0.5; }

.like__button:before {
  position: absolute;
  top: 0.3rem;
  left: 0.3rem;
  font-size: 0.8rem;
  font-family: 'Material Icons';
  content: "favorite_border";
  color: rgba(31, 32, 65, 0.5); }

.like__button_checked {
  opacity: 1; }

.like__button_checked::before {
  content: "favorite";
  color: #BC9CFF; }

.like__button_checked::after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: -5px;
  right: -5px;
  left: -5px;
  border-radius: 34px;
  overflow: hidden; }

.rate {
  padding-top: 1rem;
  display: inline-block;
  padding-right: 1.3rem; }

.rate_ratable {
  cursor: pointer; }

.rate__star {
  position: relative;
  display: inline-block;
  padding-right: 1px;
  width: 1.7rem; }

.rate__star::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "star_border";
  font-family: 'Material Icons';
  font-size: 1.7rem;
  color: #BC9CFF; }

.rate__star_checked::before {
  content: "star"; }

.button {
  padding: 0.8rem 0; }

.button button {
  cursor: pointer;
  background-color: transparent;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 0.8rem 1.3rem;
  color: white;
  border-radius: 3em; }

.button_target_payment button {
  width: 100%;
  position: relative; }

.button_target_payment button::after {
  direction: ltr;
  display: inline-block;
  font-family: 'Material Icons';
  font-size: 24px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: normal;
  line-height: 1;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  font-feature-settings: 'liga';
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
  content: "arrow_forward";
  position: absolute;
  top: 0.7rem;
  right: 0.6rem; }

.button_disabled, .button_hovered, .button_clicking {
  pointer-events: none; }

.button_disabled button, .button button:disabled {
  opacity: 0.6; }

.button_hovered button:before, .button button:hover:before {
  z-index: -1; }

.button_clicking button, .button button:active {
  outline: none;
  color: rgba(188, 156, 255, 0.4) !important; }

.button button:focus {
  outline: none; }

.button_clicking button:before, .button button:active:before {
  z-index: -1;
  opacity: 0.5; }

.button_simple button {
  background: none;
  color: #BC9CFF; }

.button_simple button:hover, .button_simple.button_hovered button {
  color: rgba(31, 32, 65, 0.5) !important; }

.button_simple button:hover:before, .button_simple.button_hovered button::before {
  display: none; }

.button_hovered button:before, .button button:hover:before, .button_clicking button:before, .button button:active:before {
  border: 1px solid transparent;
  border-radius: 2.5rem; }

.button_hovered button:before, .button button:hover:before, .button_clicking button:before, .button button:active:before {
  content: "";
  background-color: transparent;
  background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px; }

.button_hovered button, .button button:hover, .button_clicking button, .button button:active {
  color: #BC9CFF;
  background-image: none;
  background-color: white;
  position: relative; }

.pagination {
  padding: 0.8rem 0.1rem; }
  .pagination__item {
    color: rgba(31, 32, 65, 0.5);
    display: inline-block;
    vertical-align: bottom;
    padding: 1.1rem;
    padding-left: 0.8rem;
    font-size: 0.9rem;
    cursor: pointer;
    text-align: center; }
  .pagination__item_next, .pagination__item_previous {
    margin-left: -0.4rem;
    padding: 0.6rem;
    direction: ltr;
    display: inline-block;
    font-family: 'Material Icons';
    font-size: 24px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    text-transform: none;
    white-space: nowrap;
    word-wrap: normal;
    font-feature-settings: 'liga';
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
    background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%); }
  .pagination__item_current {
    background-image: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    cursor: default;
    font-weight: bold; }
  .pagination .pagination__item_next, .pagination .pagination__item_previous, .pagination .pagination__item_current {
    border-radius: 50%;
    width: 2.9rem;
    height: 2.9rem;
    color: white; }
  .pagination__text {
    margin: 0.8rem 0.2rem;
    color: rgba(31, 32, 65, 0.75); }

.bullet-list {
  padding-top: 0.7rem;
  color: rgba(31, 32, 65, 0.75);
  width: 80%;
  font-family: Montserrat; }
  .bullet-list__item {
    padding-left: 1.6rem;
    line-height: 1.8;
    position: relative;
    padding-bottom: 0.6rem; }
    .bullet-list__item:before {
      content: "";
      position: absolute;
      top: 0.5rem;
      left: 0.1rem;
      background-color: #BC9CFF;
      width: 0.7rem;
      height: 0.7rem;
      border-radius: 50%;
      opacity: 0.7; }

.feature {
  font-family: Montserrat;
  width: 85%;
  display: grid;
  grid-template: 1.8rem 2.7rem / 3.8rem 1fr;
  padding-top: 1.8rem;
  padding-left: 0.3rem;
  grid-template-areas: "img name" "img descr";
  border-bottom: 1px solid rgba(31, 32, 65, 0.05); }
  .feature__image {
    grid-area: img; }
  .feature__name {
    color: rgba(31, 32, 65, 0.75);
    grid-area: name;
    font-weight: bold; }
  .feature__description {
    grid-area: descr;
    color: rgba(31, 32, 65, 0.5); }

@media only screen and (max-width: 830px) {
  body {
    margin-left: 3%;
    margin-top: 3%;
    margin-right: 3%; } }

@media only screen and (max-width: 675px) {
  #content {
    width: 100%;
    flex-direction: column;
    align-content: center; } }


/*# sourceMappingURL=pages.css.map*/