.like {
    padding-top: 0.9rem;
    display: inline-block;
    padding-right: 0.5rem;
    background-color: white;
}
.like__base {
    position: relative;
    display: block;
    height: 1.38rem + 0.15rem;
    width: 2.9rem + 0.15rem;
    font-size: 0.7rem;
    border: 1px solid transparent;
    overflow: hidden;
    background: $darkShade_25;
    border-radius: 34px;
}
.like__base_checked {
    background-color: transparent;
    background-image: linear-gradient(180deg, $purple 0%, $green 100%);
}
.like__base:before {
    position: absolute;
    display: block;
    content: "";
    height: 1.38rem;
    width: 2.9rem;
    border: 1px solid transparent;
    overflow: hidden;
    background: white;
    border-radius: 34px;
}

.like__button{
    position: relative;
    display: block;
    padding: 0.3rem 0 0 1.6rem;
    height: 1.38rem;
    width: 2.9rem;
    font-size: 0.7rem;
    border: 1px solid transparent;
    cursor: pointer;
    border-radius: 34px;
    background-color: white;
    opacity: 0.5;
}
.like__button:before {
    position: absolute;
    top: 0.3rem;
    left: 0.3rem;
    font-size: 0.8rem;
    font-family: 'Material Icons';
    content: "favorite_border";
    color: $darkShade_50; 
  }

  .like__button_checked {
    opacity: 1;

  }
  .like__button_checked::before {
    content: "favorite";
    color: $purple;  
}
.like__button_checked::after {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    right: -5px;
    left: -5px;
    border-radius: 34px;
    overflow: hidden;
}