.expandable {
    position: relative;
    &__content {
        max-height: 0;
        overflow: hidden;
        visibility: hidden;
        transition: max-height 100ms ease-in;
        -webkit-transition: max-height 100ms ease-in;
    }
    i {
        position: absolute;
        top: -1.8rem;
        right: 21.5%;
        font-family: 'Material Icons';
        color: rgba(31, 32, 65, 0.5);
        cursor: pointer;
        font-size: 1.8rem;
    }

    &_expanded {
        .expandable__content {
            max-height: 800px;
            visibility: visible;
        
    }
        }
    }   
    

    
    
   
    
