mixin card_for_price-calc(options)
    -let number = options.number || 100
    -let category = options.category || "эконом"
    -let period = options.period || "в неделю"
    -let currency = options.currency || "&#8381;"
    -let price = options.price || 100;
    .card__room-data
        .card__room-data__number= number
            .card__room-data__category= category
        .card__room-data__price=price + currency 
            .card__room-data__period= period
    .card__calc-table
    .card__total
    .card__button
            +button("подобрать номер")(class = "button_target_payment")