

.input  {
    height: 3.15rem;
    cursor: text;
    width: 100%;
    border: 1px solid $darkShade_25;
    border-radius: 4px;
    outline: none;
    position: relative;
    outline: none;
    color: $darkShade_25;
    padding: 1rem;
    &__i {
      position: absolute;
      color: $darkShade_50;
      cursor: pointer;
      pointer-events: all;
      top: 0.5rem;
      right: 0.7rem;
      font-size: 2.1rem;
    }
}
input::placeholder {
  color: $darkShade_25;
}

.input:hover, .input:focus, .input_hovered {
  border-width: 2px;
  color: $darkShade_50;
  border-color: $darkShade_50;
}









