

.input  {
    height: 3.15rem;
    cursor: text;
    width: 100%;
    border: 1px solid $darkShade_25;
    border-radius: 4px;
    outline: none;
    position: relative;
    &__i {
      position: absolute;
      color: $darkShade_50;
      cursor: pointer;
      pointer-events: all;
      top: 0.5rem;
      right: 0.7rem;
      font-size: 2.1rem;
    }
    input {
      border: none;
      outline: none;
      width: 100%;
    }
}
input::placeholder, .input__placeholder {
  color: $darkShade_25;
}
.input__placeholder {
  padding: 1rem;
}

.input:hover, .input:focus, .input_hovered {
  border-width: 2px;
  border-color: $darkShade_50;
  input::placeholder, .input__placeholder {
    color: $darkShade_50;
}
}




@import "_hovered/input_hovered";
@import "__placeholder/input__placeholder";




