mixin input(data, ...items)
    -let target = '';
    -if (data.target) target = data.target;
    -data.date? "input_type_date":"";

    -let hovered = data.hovered? "input_hovered ":""
    -let material = ""
    -if (data.mail) material = "arrow_forward"


    -let classes = expanded + type + hovered + date

    div.input(class= classes, data-target = target)&attributes(attributes)
        i.material-icons.input__i=material
        div.input__placeholder=data.select? data.placeholder:""
            input(placeholder=data.placeholder)&attributes(attributes)
