#cards {
    display: grid;
    align-items: flex-start;
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: 1fr 380px 318px;
    background-color: $darkShade_05;
  }
@import "../../../blocks/card/card";
@import "../../../blocks/calendar/calendar";
