#cards {
    display: grid;
    grid-template-rows: max-content max-content max-content;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: $darkShade_05;
  }
@import "../../../blocks/card/card";