section#cards
    include ../../../blocks/card/card
    include ../../../blocks/calendar/calendar

    +card("room-choice", {})
    +card("price-calc", {})
    +calendar()
    +card("registration", {})
    +card("login", {})
    +card("room-preview", {})