

#forms {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 1fr 1fr 1fr;
  >div {
    margin: 5px;
  }
}
.form__buttons {
  display: grid;
  grid-template-columns: 37.5% 62.5%;
}
.form__buttons div:last-child {
  grid-column: span 2;
  justify-self: stretch;
}
.span2 {
  grid-column: span 2;
}

@media only screen and (max-width: 830px) {
  #forms {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 675px) {
  #forms {
    grid-template-columns: 1fr;
  }
  .span2 {
    grid-column: span 1;
  }

}
@import "../../../blocks/field/field";
@import "../../../blocks/input/input";
@import "../../../blocks/fieldset/fieldset";
@import "../../../blocks/range-slider/range-slider";
@import "../../../blocks/checkbox/checkbox.scss";
@import "../../../blocks/expandable/expandable";
@import "../../../blocks/radio/radio";
@import "../../../blocks/toggle/toggle";
@import "../../../blocks/like/like";
@import "../../../blocks/rate/rate";
@import "../../../blocks/button/button";
@import "../../../blocks/pagination/pagination";
@import "../../../blocks/bullet-list/bullet-list";


