

#forms {
  display: grid;
  grid-template-rows: max-content max-content max-content;
  grid-template-columns: 1fr 1fr 1fr;
  >div {
    margin: 5px;
  }
}
.span2 {
  grid-column: span 2;
}

@media only screen and (max-width: 830px) {
  #forms {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 675px) {
  #forms {
    grid-template-columns: 1fr;
  }
  .span2 {
    grid-column: span 1;
  }

}
@import "../../../blocks/field/field";
@import "../../../blocks/input/input";
@import "../../../blocks/fieldset/fieldset";
@import "../../../blocks/range-slider/range-slider";
@import "../../../blocks/checkbox/checkbox.scss";
@import "../../../blocks//expandable/expandable"


