section#forms

    div
        include ../../../blocks/field/field
        include ../../../blocks/input/input
        include ../../../blocks/fieldset/fieldset
        include ../../../blocks/range-slider/range-slider
        include ../../../blocks/checkbox/checkbox      
        include ../../../blocks/expandable/expandable 
        include ../../../blocks/radio/radio     
        include ../../../blocks/toggle/toggle     
        include ../../../blocks/like/like     
        
        +field({name:"text field", annotation:"default"})
            +input({placeholder: "Email"})
        +field({name: "text field", annotation: "hover / focus"})
            +input({placeholder: "This is pretty awesome", hovered: true})
        +field({name: "dropdown", annotation: "default"})
            +input({placeholder: "Сколько гостей", select: true, target: "guests"})
        +field({name: "dropdown", annotation: "default"})
                +input({placeholder: "Сколько гостей", select: true, target: "guests"})
        +field({name: "masked text field", annotation: "default"})
            +input({placeholder: "ДД.ММ.ГГГГ", select: true})
        +fieldset
            +field({name: "date dropdoun"})
                +input({placeholder: "ДД.ММ.ГГГГ", select: true})
            +field({name: "date dropdoun"})
                +input({placeholder: "19.08.2019", select: true})
        +field({name: "filter date dropdown", shorted: true})
            +input({placeholder: "19авг - 23авг", select: true})
        +field({name: "masked text field", annotation: "default"})
            +input({placeholder: "ДД.ММ.ГГГГ", select: true})
        +field({name: "subscription text field"})
            +input({placeholder: "Email", mail: true})
        +field({name: "masked text field", annotation: "default"})
            +input({placeholder: "ДД.ММ.ГГГГ", select: true})



        +field({name: "checkbox buttons"})
            +checkbox({value:"Можно курить", nameVar: "smoke-permission"})
            +checkbox({value:"Можно с питомцами", nameVar: "pets-permission"})
            +checkbox({value:"Можно пригласить гостей (до 10 человек)", nameVar: "guests-permission"})
   
            
        +field({name: "radio buttons"})
            +radio({name:"gender", checked:"female"},
                {valueVar:"male", valueName:"мужчина"},{valueVar:"female", valueName:"женщина"})

            
        +field({name: "toggle"})
            +toggle("offences","Получать спецпредложения",true)
            +toggle("offences","Получать спецпредложения")

        div.input(style="margin-top: 50px")
        +field({name: "like button"})
            +like(2)
            +like(12)
        div(style="margin-top:20px")
        div.input
            h3 rate button
                div.rate &#9733;&#9733;&#9733;&#9734;&#9734;
                div.rate &#9733;&#9733;&#9733;&#9733;&#9733;
        div
            +field({name: "range slider", annotation: "5000р - 10000р"}) 
                +range-slider
                    //- div.range_slider-range 5000 &#8381; - 10000 &#8381;
            div.input
                h3 buttons
                button.button_active click me
                button.button_disabled click me
                button.button_active click me
                button.button_clicked click me
                button.button_simplified click me
                button.button_simplified_active click me
                button.button_cta перейти к оплате
            div.input
                h3 pagination
                div.pagination_current 1
                div.pagination 2
                div.pagination 3
                div.pagination_insie ...
                div.pagination 15
                div.pagination_comment 1 – 12 из 100+ вариантов аренды




        div

            +field({name: "dropdown", annotation: "default", shorted: true})
                +input({placeholder: "2 спальни, 2 кровати...", select: true, target: "rooms"})
            +field({name: "dropdown", annotation: "default", shorted: true})
                +input({placeholder: "2 спальни, 2 кровати...", select: true, expanded: true, target: "rooms", apply: true, clear: true},
                    {name: 'спальни', value: 2},{name: 'кровати', value: 2},{name: 'ванные комнаты', value: 0})




            +field({name:"expandable checkbox list"}) 
                +expandable()
                    +checkbox({value: "завтрак", nameVar: "breakfast"})
                    +checkbox({value: "письменный стол", nameVar: "breakfast"})
                    +checkbox({value: "завтрак", nameVar: "breakfast"})
                    +checkbox({value: "стул для кормления", nameVar: "feedingChair"})
                    +checkbox({value: "кроватка", nameVar: "cot", checked: true})
                    +checkbox({value: "телевизор", nameVar: "TV"})
                    +checkbox({value: "шампунь", nameVar: "shampoo", checked: true})
                    +checkbox({value: "тапочки", nameVar: "slippers"})
            +field({name:"expandable checkbox list"}) 
                +expandable(true)
                    +checkbox({value: "завтрак", nameVar: "breakfast"})
                    +checkbox({value: "письменный стол", nameVar: "breakfast"})
                    +checkbox({value: "завтрак", nameVar: "breakfast"})
                    +checkbox({value: "стул для кормления", nameVar: "feedingChair"})
                    +checkbox({value: "кроватка", nameVar: "cot"})
                    +checkbox({value: "телевизор", nameVar: "TV"})
                    +checkbox({value: "шампунь", nameVar: "shampoo"})
                    +checkbox({value: "тапочки", nameVar: "slippers"})

        div
            +field({name: "dropdown"})
                +input({placeholder: "сколько гостей", select: true, expanded: true, clear: true, apply: true, target: guests},
                    {name: 'взрослые', value: 2},{name: 'дети', value: 2},{name: 'младенцы', value: 0})


            div.input
                h3 rich Checkbox Buttons
                div.checkbox_rich
                    label(for='wide_corridor_sample') широкий коридор
                    input.input_quantity-choice#wide_corridor_sample(type='checkbox')
                    p.checkbox_rich_description Ширина коридоров в номере не менее 91 см.
                div.checkbox_rich
                    label(for='assistant_sample') помощник для инвалидов
                    input.input_quantity-choice#assistant_sample(type='checkbox')
                    p.checkbox_rich_description На 1 этаже вас встретит специалист  и проводит до номера.
        div
            +field({name: "dropdown"})
                +input({placeholder: "сколько гостей", select: true, expanded: true, clear: true, apply: true, target:"guests"},
                    {name: 'взрослые', value: 2},{name: 'дети', value: 2},{name: 'младенцы', value: 0})
            div.input
                h3 bullet list
                div.list-item_bullet
                    label(for='no_animals_sample') нельзя с питомцами
                    input.input_quantity-choice#no_animals_sample(type='checkbox')
                div.list-item_bullet
                    label(for='no_parties_sample') Без вечеринок и мероприятий
                    input.input_quantity-choice#no_parties_sample(type='checkbox')
                div.list-item_bullet
                    label(for='registration_time_sample') Время прибытия — после 13:00, а выезд до 12:00
                    input.input_quantity-choice#registration_time_sample(type='checkbox')
        div
            div.input
                div.preferency
                    p.preferency_name комфорт
                    p.preferency_description шумопоглощающие стены
                div.preferency
                    p.preferency_name удобство
                    p.preferency_description окно в каждой из спален
        div.span2
            div.input
                div.feedback
                    div.feedback_info
                        img.author_avatar
                        div.author_name Мурад Сарафанов
                        div.feedback_date 5 дней назад
                    div.feedback_content
                        div.feedback_likes &#9829; 12
                        div.feedback_text
                            | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
                            | И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.
