.main {
    position: relative;
    &__image {
        width: 100%;
        @media only screen and (max-width: 860px) {
            & {
                height: 450px;
                overflow: hidden;
            }
        }
    }

    &__room-search {
        position: absolute;
        width: 380px;
        height: 374px;
        left: 10rem;
        top: 5rem;
        @media only screen and (max-width: 860px) {
            & {
                left: 5rem;
                top: 2rem;
            }
        }
        @media only screen and (max-width: 775px) {
                & {
                    left: 0;
                    top: 0;
                    bottom: 0;
                    right: 0;
                    margin: auto;
                }
        }
    }
    &__slogan {
        position: absolute;
        width: 19rem;
        bottom: 2.7rem;
        right: 1.5rem;
        line-height: 1.5;
        font-family: Montserrat;
        color: $darkShade_50;
        @media only screen and (max-width: 775px) {
            & {
                display: none;
            }
        }
        
    }
}