.footer {
    font-family: Montserrat;
    padding-top: 7.4rem;
    &__text {         
        color: $darkShade_75;
        line-height: 1.8;
        font-size: 0.95rem;
    }

    &_type_wide {
        background-position-y: 7.1rem;
        .footer__top {
            display: flex;
            justify-content: space-between;
        }
        .footer__info {
            width: 20%;
        }
        .footer__text {
            padding-top: 1.4rem;           
        }
        .footer__subscribe-input {
            padding-top: 1.55rem;
        }
        .footer__subscribe-block {
            width: 25%;
        }
        .footer__bottom {
            font-size: 0.9rem;
            margin-top: 7.4rem;
            padding-top: 2rem;
            margin-left: -10rem;
            margin-right: -10rem;
            padding-left: 10rem;
            padding-right: 10rem;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            border-top: 1px solid $darkShade_25;
        }
    }
    &__menu-item {
        display: block;
        text-decoration: none;
        color: $darkShade_25;
        padding-top: 1.7rem;
    }
    &__header {
        padding-top: 0.2rem;
        font-size: 0.85rem;
        text-transform: uppercase;
        font-weight: bold;
        color: $darkShade_75;
    }
    &__social-icon {
        font-family:"Font Awesome 5 Brands";
        text-decoration: none;
        background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
        -webkit-background-clip: text; /* Обрезаем фон по тексту */
        -webkit-text-fill-color: transparent; /* Прозрачный текст */
        font-size: 1.8rem;
        padding: 0 1rem;
    }
    &_type_narrow {
        background-position-x: center;
        background-position-y: 7.2rem;
        padding-top: 11.4rem;
        align-items: center;
        width: 60%;
        display: flex;
        flex-direction: column;
        margin: auto;
        text-align: center;
        .footer__logo {
            padding-bottom: 1.2rem;
        }
        .footer__menu {
            display: none;
        }
        .footer__subscribe-block {
            display: none;
        }
        .footer__copyright {
            display: none;
        }
        .footer__social {
            padding-top: 2rem;
        }

    }

}
