.card {
    padding: 2.7rem 2.2rem;
    @media (max-width: 390px){
        padding: 1.5rem;
    }
    box-shadow:  0 0 2rem 0.5rem $darkShade_25;
    background-color: white;
    font-family: Montserrat;
    opacity: 0.99;
    &__header {
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 1.5;
        letter-spacing: 0.001em;
        margin-bottom: 1.2rem;
    }
    &__dates {
        margin-bottom: 1.3rem;
    }
    &__guests {
        margin-bottom: 1.4rem;
    }
    &__room-data {
        font-family: "Open Sans";
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.5rem;
        padding-top: 0.4rem;
        align-items: flex-end;
        &__category {
            color: $purple;
            font-size: 1.2rem;
            padding-left: 0.4rem;
        }
        &__period {
            font-weight: normal;
            font-size: 0.85rem;
            color: $darkShade_50;
            &:before {
                content: "\20BD";
                @extend %price;
            }
        }
        &__number {
            font-weight: bold;
            font-size: 1.7rem;
            &:before {
                content: "\2116";
                font-size: 1rem;
                font-family: Montserrat;
                margin-right: 0.4rem;
            }
        }
        &__price {
            @extend %price;        
        }    
        &_small {
            margin-left: -0.9rem;
            margin-right: -0.9rem;
            margin-bottom: 0.5rem;
            .card__room-data__number {
                font-size: 1.2rem;
            }
        }   
    }
    &__calc-table {
        color: $darkShade_75;
        font-family: "Open Sans";
        margin-top: -0.1rem;
        margin-bottom: 1.5rem;
        letter-spacing: 0.5;
        display: grid;
        justify-content: space-between;
        grid-template-columns: 5fr 2fr;
        grid-auto-rows: 2.45rem;
        line-height: 1.25;
        &__price, &__position {
            padding-top: 0.25rem;
        }
        &__position_with-info {
            position: relative;
        }
        &__position_with-info:after {
            content: "i";
            width: 1.3rem;
            height: 1.2rem;
            text-align: center;
            padding-top: 0.1rem;
            border: 1px solid $darkShade_50;
            color: $darkShade_50;
            border-radius: 50%;
            position: absolute;
            right: -0.9rem;
            top: 0.1rem;
            font-size: 0.9rem;
        }
        &__price {
            justify-self: flex-end;
            padding-right: 0.1rem;
        }
    }
    &__total {
        margin-top: 2.6rem;
        margin-bottom: 0.8rem;
        display: grid;
        justify-content: space-between;
        grid-template-columns: max-content max-content;
        font-weight: bold;
        font-size: 1.4rem;
        &__literal::after {
            content: "";
            border-bottom: 1px solid $darkShade_25;
            width: 100%;
        }
    }
    &__button {
        padding-top: 0.9rem;
    }
    &__input {
        padding-top: 0.3rem;
        margin-bottom: 0.4rem;
    }
    &__radio {
        margin-top: 0.9rem;
        margin-bottom: 1.7rem;
    }
    &__input-name {
        margin-top: 1.2rem;
        margin-bottom: -0.2rem;
        font-weight: bold;
        color: $darkShade_75;
        @extend %font_small;
    }
    &__offers-setter {
        padding-top: 0.4rem;
        margin-bottom: 1.1rem;
    }
    &__account-existance-check {
        padding-top: 2.1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &_for_room-preview {
        box-shadow: none;
        border-radius: 4px;
        width: 270px;
        overflow: hidden;
    }
    &__room-preview {
        position: relative;
        height: 8em;
        margin-bottom: 1.4rem;
        &:before {
            content: "brightness_1 panorama_fish_eye  panorama_fish_eye  panorama_fish_eye";
            font-family: "Material Icons";
            position: absolute;
            font-size: 0.66rem;
            bottom: 0.9rem;
            right: -1.2rem;
            color: white;
            z-index: 1000;
        }
        &__image {
            position: absolute;
            top: -2.7rem;
            left: -2.2rem;
        }
    }
    &__room-feedback {
        display: flex;
        border-top: 2px solid $darkShade_05;
        margin-left: -0.9rem;
        margin-right: -0.9rem;
        &__feeds {
            color: $darkShade_50;
            align-self: flex-end;
            padding-top: 1.4rem;
            strong {
                font-weight: bold;
            }
        }
    }
    
   
}
%price {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 1.2rem;
    color: $darkShade_50;
}