mixin card_for_login(options)
    .card__header=options.header||"Войти"
    .card__input
        +input({placeholder: "Email"})
    .card__input
        +input({placeholder: "Пароль"})
    .card__button
         +button({type: "active", color: "purple", text: "перейти к оплате", target: "login"})
    .card__account-existance-check
            .card__account-existance-check__text Нет аккаунта на Toxin?
            .card__account-existance-check__button 
                +button({text: "создать", color: "white", target: "registration"})