mixin card_for_room-choice(options)
        .card__header=options.header||"Найдем номера под ваши пожелания"
        .card__dates
            +date-diapazon()
        .card__guests
            +field({name: "гости"})
                +dropdown({target: "guests"})
        .card__button
            +button({text: "подобрать номер", type: "active"})