mixin card_for_price-calc(options)
    -let number = options.number || 888
    -let category = options.category || "люкс"
    -let period = options.period || "в сутки"
    -let price = options.price || 9990;
    .card__room-data
        .card__room-data__number= number
            span.card__room-data__category= category
        .card__room-data__price=price
            span.card__room-data__period= period
    .card__dates
        +date-diapazon()
    .card__guests
        +field({name: "гости"})
            +dropdown({target: "guests"})
    .card__calc-table
        .card__calc-table__position 9 990&#8381; x 4 суток
        .card__calc-table__price 39 960&#8381;
        .card__calc-table__position.card__calc-table__position_with-info Сбор за услуги: скидка 2 179₽
        .card__calc-table__price 0&#8381;
        .card__calc-table__position.card__calc-table__position_with-info Сбор за дополнительные услуги
        .card__calc-table__price 300&#8381;
    .card__total
        .card__total__literal Итого
        .card__total__price 38 081&#8381;
    .card__button
            +button({text: "забронировать", type: "active"})