include ./_for_room-choice/card_for_room-choice
include ./_for_price-calc/card_for_price-calc
include ./_for_registration/card_for_registration
include ./_for_login/card_for_login
mixin card(type, options)
    -let modificator = "card_for_" + type
    .card(class = modificator)
        case type
            when "room-choice"
                +card_for_room-choice(options)
            when "price-calc"
                +card_for_price-calc(options)
            when "registration"
                +card_for_registration(options)
            when "login"
                +card_for_login(options)