mixin dropdown(data, ...items)   
    -let expanded = data.expanded? "dropdown_state_expanded ":""
    -let target = data.target? data.target : '';
    -let hovered = data.hovered? "dropdown_state_hovered ":""
    -let material = "expand_more"
    -let classes = expanded + hovered

    div.dropdown(class= classes, data-target = target)&attributes(attributes)
        i.material-icons.dropdown__i=material
        div.dropdown__placeholder= data.placeholder
            div.dropdown__customization
                ul.dropdown__options
                    each item in items
                        li.dropdown__item
                            .dropdown__option= item.name
                            .dropdown__option-setter
                                .dropdown__option-iteration(class = "dropdown__option-iteration_decrement") -
                                .dropdown__option-quantity=item.value
                                .dropdown__option-iteration(class = "dropdown__option-iteration_increment") +
                if (data.apply)
                    .dropdown__buttons
                        button.dropdown__button(class="dropdown__button_target_apply") применить
                        if (data.clear)
                            button.dropdown__button(class="dropdown__button_target_clear") очистить
