@import '~Common/basics';
.feature {
    font-family: Montserrat;
    width: 85%;
    display: grid;
    grid-template: 1.8rem 2.7rem / 3.8rem 1fr;
    padding-top: 1.8rem;
    padding-left: 0.3rem;
    grid-template-areas:
        "img name"
        "img descr";
    border-bottom: 1px solid $darkShade_05;
    &__image {
        grid-area: img;
    }
    &__name {
        color: $darkShade_75;
        grid-area:  name;
        font-weight: bold;
    }
    &__description {
        grid-area: descr;
        color: $darkShade_50;
    }
}