mixin feature(name, description, svg)
    -let path = 'icons/' + svg + '.svg'
    .feature
        .feature__image
            img(src=require('Icons/location_city.svg').default)
        .feature__name= name
        .feature__description= description