doctype html(lang='ru')
html
    head
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1.0' name='viewport')

    body
        include Logo/logo
        div#colorsAndType
            include Colors/colors
            include Type/type
        include Forms/forms





