doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(content='width=device-width, initial-scale=1.0' name='viewport')

    body
        include Logo/logo
        div#colorsAndType
            include Colors/colors
            include Type/type
        include Forms/forms
        include Cards/cards
        include Headers_Footers/headers_footers





