section.headersFooters
    h1.label H1
    h1 This one is the sub-section or widget title
    h2.label H2
    h2 Next one is the item title inside widgets
    h3.label H3
    h3 This is a label or CTA text
    p.label Body
    p This is the body text which is used for most of the design, like paragraphs, lists, etc.
