
mixin color(colorStyle, colorName, colorValue)
    div.color
        div.color__sample(class= colorStyle)
        div.color__description
            div.color__colorName= colorName
            div.color__colorCode= colorValue


section.colors
    +color("color__sample--darkShade-100","Dark Shade 100%","#1F2041")
    +color("color__sample--darkShade-75","Dark Shade 75%","#1F2041")
    +color("color__sample--darkShade-50","Dark Shade 50%","#1F2041")
    +color("color__sample--darkShade-25","Dark Shade 25%","#1F2041")
    +color("color__sample--darkShade-5","Dark Shade 5%","#1F2041")
    +color("color__sample--purple","Purple","#BC9CFF")
    +color("color__sample--green","Green","#6FCF97")


