section#headersFooters
    include ../../../blocks/header/header
    +header(false,
    {value: "Home", current}, 
    {value: "About us"}, 
    {value: "Services", expandable}, 
    {value: "Careers"}, 
    {value: "News"}, 
    {value: "Documentation"})
    +header("Cosmin Negoita",
    {value: "Home", current}, 
    {value: "About us"}, 
    {value: "Services", expandable}, 
    {value: "Careers"}, 
    {value: "News"}, 
    {value: "Documentation"})