section#headersFooters
    include ../../../blocks/header/header
    include ../../../blocks/footer/footer
    +header(false,
    {value: "Home", current: true}, 
    {value: "About us"}, 
    {value: "Services", expandable: true}, 
    {value: "Careers"}, 
    {value: "News"}, 
    {value: "Documentation"})
    +header("Cosmin Negoita",
    {value: "Home", current: true}, 
    {value: "About us"}, 
    {value: "Services", expandable:true}, 
    {value: "Careers"}, 
    {value: "News"}, 
    {value: "Documentation"})
    +footer({menu: {
        "navigation": {
            "About Us":"ya.ru",
            "News":"ya.ru",
            "Support": "ya.ru",
            "Products": "ya.ru"
        },
        "About us": {
            "Who we are":"ya.ru",
            "Our team":"ya.ru",
            "Careers": "ya.ru",
            "Investors": "ya.ru"
        },
         "Support": {
            "Documentation":"ya.ru",
            "Community":"ya.ru",
            "Get in touch": "ya.ru",
        },
    },
    social: {
        "61569":"vk.com",
        "61570":"vk.com",
        "61805":"vk.com",
    }
    })