.header {
    opacity: 0.99;
    position: relative;
    box-shadow: 0px 10px 20px $darkShade_05;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1rem 0;
    background-position-y: 1rem;
    align-items: center;
    color: $darkShade_50;

    &__logo {
        
        flex-grow: 2;
        align-self: flex-start;
    }

    &__nav {
        display: flex;
        flex-wrap: wrap;
        &__item {
            padding: 1rem 1.25rem;
            display: block;
            text-decoration: none;
            color: $darkShade_50;
            &_current {
                color: $darkShade_75;
                font-weight: bold;
            }
            &_expandable{
                position: relative;
                padding-right: 2rem;
                &:after {
                    position: absolute;
                    top: 0.75rem;
                    right: auto;
                    content: "expand_more";
                    font-family: 'Material Icons';
                    font-size: 1.7rem;
                }
            }
        }
    }
    &__user-info {
        border-left: 1px solid $darkShade_25;
        padding: 0.65rem 0 0.65rem 2.35rem;
    }
    &__buttons {
        display: flex;
        flex-wrap: wrap;
        & .button {
            margin-left: 1.5rem;
        }
    }
}