mixin header(user=false, ...items)
    .header
        .header__nav
            each item in items
                -let expandable = item.expandable?" header__nav__item_expandable":""
                -let current = item.current?" header__nav__item_current":""
                -let _class = expandable + current
                .header__nav__item(class = _class)=item.value
        if user
            .header__user-info=user
        else
            .header__buttons
                +button("login")
                +button("register")