mixin date-diapazon(first="прибытие",last="выезд")
    .date-diapazon
        +field({name: first})
            input.date-diapazon__start
        +field({name: last})
            input.date-diapazon__end