mixin room-details(options)
    -options = options||{}
    -let images = options.images || ["image1","image2","image3"]
    -let features = options.features || {}
    -let impressions = options.impressions || {}
    -let feedback = options.feedback || {}
    -let calc = options.calc || {}
    -let rules = options.rules || {}
    -let info = options.info || {}

    .room-details

        ul.room-details__gallery
            each image in images
                li.room-details__image
                    img(src=require(`Images/room_details/${image}.png`).default)    

        .room-details__content
            .room-details__info
                h2.room-details__header Сведения о номере
                +feature("Комфорт","Шумопоглощающие стены","insert_emoticon")
                +feature("Удобство","Окно в каждой из спален","location_city")
                +feature("Уют","Номер оснащён камином","whatshot")

            .room-details__impressions
                h2.room-details__header Впечатления от номера
                +donat-chart()

            .room-details__calculations
                h2.room-details__header
                +card("price-calc", {})
            
            .room-details__feedback               
                h2.room-details__header  Отзывы посетителей номера
                .room-details__feedback__quantity
                .room-details__feed
                    +feedback("murad")
                .room-details__feed
                    +feedback("patricia")

            .room-details__rules
                h2.room-details__header Правила
                +bullet-list("Нельзя с питомцами","Без вечеринок и мероприятий","Время прибытия — после 13:00, а выезд до 12:00")

            .room-details__extra 
                h2.room-details__header Отмена
                |Бесплатная отмена в течение 48 ч. После этого при отмене не позднее чем за 5 дн. до 
                |прибытия вы получите полный возврат за вычетом сбора за услуги.
                

