@import '~Common/basics';
.room-details {
    &__header {
        font-size: 1.35rem;
    }
    &__impressions {
        grid-area: impressions;
    }
    &__image {
        display: block;
        &:first-child {
            grid-column: span 2;
            grid-row: span 2;
            @media (max-width: 900px) {
                grid-row: span 1;
            }
            @media (max-width: 640px) {
                grid-column: span 1;
            }
        } 
        img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            overflow: hidden;
            display: block;
        }
    }
    &__content {
        @extend %paddings-decrease;
        padding-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
        grid-template-areas: "info       impressions calculations"
                             "feedback   feedback    calculations"
                             "feedback   feedback    calculations"
                             "rules      extra       calculations";
    }
    &__gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: 1fr;
        grid-auto-flow: dense;
        width: 100%;
        @media (max-width: 1000px) {
            grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
        }
    }
    &__info {
        grid-area: info;
        
    }
    &__feed {
        padding-top: 1.55rem;
    }
    &__feedback {
        position: relative;
        grid-area: feedback;
        &__quantity {
            position: absolute;
            top: 2px;
            right: 2px;
        }
    }
    &__calculations {
        grid-area: calculations;

    }
    &__rules {
        grid-area: rules;

    }
    &__extra {
        grid-area: extra;
        
    }
}