mixin room-details(options)
    -options = options||{}
    -let images = options.images || {}
    -let features = options.features || {}
    -let impressions = options.impressions || {}
    -let feedback = options.feedback || {}
    -let calc = options.calc || {}
    -let rules = options.rules || {}
    -let info = options.info || {}
    +impressions()