.bullet-list {
    padding-top: 0.7rem;
    color: $darkShade_75;
    width: 80%;
    font-family: Montserrat;
    &__item {
        padding-left: 1.6rem;
        line-height: 1.8;
        position: relative;
        padding-bottom: 0.6rem;
        &:before {
            content: "";
            position: absolute;
            top: 0.5rem;
            left: 0.1rem;
            background-color: #BC9CFF;
            width: 0.7rem;
            height: 0.7rem;
            border-radius: 50%;
            opacity: 0.7;
        }
    }
}